$opensansbold: "opensansbold", "Arial", sans-serif;
$opensans: "opensans", "Arial", sans-serif;

@font-face {
  font-family: "Opensans";
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Opensansbold";
  src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
