$opensansbold: "opensansbold", "Arial", sans-serif;
$opensans: "opensans", "Arial", sans-serif;
$color-grey: #444444;
$color-white: #ffffff;
$color-light-grey: #f1f1f1;
$color-dark-grey: #ececec;
$color-black: #000000;
$color-aqua: #63d1bb;
$tablet-width: 768px;
$desktop-width: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
