.footer {
  background: $color-light-grey;


  &--hiden {
    @media (min-width: $tablet-width) {
      visibility: hidden;
    }
  }

  @media (min-width: $desktop-width) {
    visibility: visible;
  }

  .footer__logo {
    width: 110px;
    border: 1px solid black;
    display: none;

    @media (min-width: $tablet-width) {
      display: flex;
      height: 36px;
      background: url("../img/logo-footer.svg") no-repeat;
    }
  }

  .footer__wrapper {
    // width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      // max-width: 1150px;
      align-items: center;
      padding: 27px 50px;
      // padding-top: 27px;
      flex-direction: row;
    }

    @media (min-width: $desktop-width) {
      max-width: 1150px;
      padding: 35px 50px;
      flex-direction: row;
    }
  }
}
