.form {
  width: 100%;

  .form__text {
    @include textnormal(13px, 24px);
    color: $color-grey;
    margin-top: 23px;
    margin-bottom: 33px;

    @media (min-width: $tablet-width) {
      font-size: 17px;
      line-height: 30px;
      margin-top: 81px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 225px;
      padding-right: 209px;
      margin-top: 126px;
    }
  }

  .form__fieldset {
    // padding: 0 30px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    border: none;

    &--type-box {
      margin-bottom: 12px;
    }

    &--fio {
      margin-bottom: 24px;
    }

    @media (min-width: $tablet-width) {
      // padding: 0 50px;
      margin-bottom: 0;

      &:nth-child(even) {
        background-color: $color-light-grey;
      }

      &--type-box {
        padding-top: 39px;
        padding-bottom: 16px;
        margin-bottom: 0;

        @media (min-width: $desktop-width) {
          padding-bottom: 13px;
        }
      }

      &--color-box {
        padding-top: 64px;
        padding-bottom: 11px;

        @media (min-width: $desktop-width) {
          padding-top: 67px;
          padding-bottom: 7px;
        }
      }

      &--fio {
        padding-top: 69px;
        padding-bottom: 49px;
      }

      &--callback {
        padding-top: 51px;
        padding-bottom: 45px;
      }

      &--textarea {
        padding-top: 68px;
        margin-bottom: 69px;

        @media (min-width: $desktop-width) {
          margin-bottom: 64px;
        }
      }
    }
  }

  .form__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top: 1px solid $color-aqua;
    align-items: flex-start;
    padding: 15px 0;
    margin: 0 30px;


    @media (min-width: $tablet-width) {
      flex-direction: row;
      margin-bottom: 0;
      padding: 0;
      margin-left: 50px;
      margin-right: 50px;
      border: none;
    }

    @media (min-width: $desktop-width) {
      margin: 0 auto;
      padding: 0 61px;
      max-width: 1050px;
      flex-wrap: nowrap;
    }

    &--textarea {
      @media (min-width: $tablet-width) {
        flex-direction: row;
        flex-wrap: nowrap;
        // padding-top: 18px;
        // padding-top: 62px;
      }

      @media (min-width: $desktop-width) {
        padding-right: 175px;
      }
    }

    &--callback {
      @media (min-width: $desktop-width) {
        flex-wrap: wrap;
        padding-right: 175px;
      }
    }
  }

  .form__block-phone,
  .form__block-email {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;

    @media (min-width: $tablet-width) {
      flex-direction: row;
    }
  }

  .form__section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media (min-width: $tablet-width) {
      margin-left: 125px;
      width: 70%;
    }

    @media (min-width: $desktop-width) {
      margin-left: 78px;
      width: 100%;
    }

    &--row {
      @media (min-width: $tablet-width) {
        flex-direction: row;
        justify-content: space-between;
        margin-left: 128px;
      }

      @media (min-width: $desktop-width) {
        margin-left: 72px;
        min-height: 154px;
        height: 154px;
        padding: 0;
        justify-content: flex-start;
      }
    }

    &--name {
      @media (min-width: $tablet-width) {
        margin-top: -25px;
        align-items: baseline;
        width: 74.5%;
      }

      @media (min-width: $desktop-width) {
        margin-left: 71px;
        width: 75.5%;
      }
    }
  }

  .form__legend {
    @include textbold(17px, 16px);
    color: $color-aqua;
    margin-top: -22px;
    padding-right: 20px;
    background: $color-white;
    text-transform: uppercase;
    margin-bottom: 31px;

    &--phone {
      margin-bottom: 12px;
      // width: 100px;
    }

    &--email {
      margin-bottom: 13px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 190px;
        height: 1px;
        top: 7px;
        right: -183px;
        background: $color-aqua;

        @media (min-width: $tablet-width) {
          display: none;
        }
      }

      @media (min-width: $tablet-width) {
        width: 80px;
      }
    }

    @media (min-width: $tablet-width) {
      margin-top: 0;
      // align-self: stretch;
      padding-right: 0;
      background: inherit;
    }
  }

  .form__radiobutton {
    @include textbold(17px, 18px);
    color: $color-black;
    padding-left: 62px;
    box-sizing: content-box;
    max-width: 157px;
    margin-bottom: 24px;
    position: relative;

    @media (min-width: $tablet-width) {
      @include textbold(19px, 18px);
      width: 100%;
      max-width: none;
      padding-left: 86px;
      margin-bottom: 56px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 79px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -11px;
      width: 40px;
      height: 40px;
      border: 1px solid $color-grey;
      border-radius: 50%;

      @media (min-width: $tablet-width) {
        width: 52px;
        height: 52px;
        left: 3px;
        top: -16px;
      }

      @media (min-width: $tablet-width) {
        left: -5px;
        top: -17px;
      }
    }
  }

  .form__input-hidden {
    display: none;
  }

  .form__label {
    @include textbold(17px, 18px);
    color: $color-black;
    padding: 8px 0;
    padding-left: 62px;
    position: relative;
    margin-bottom: 26px;

    @media (min-width: $tablet-width) {
      @include textbold(19px, 18px);
      padding: 0;
      padding-left: 75px;
      margin-bottom: 58px;
      min-width: 204px;
    }

    @media (min-width: $desktop-width) {
      // align-items: baseline;
      padding-left: 78px;
      margin-bottom: 0;
      align-self: flex-start;
      margin-right: 59px;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    &:last-child {
      margin-bottom: 7px;

      @media (min-width: $desktop-width) {
        margin-bottom: 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -5px;
      width: 40px;
      height: 40px;
      border: 2px solid $color-grey;

      @media (min-width: $tablet-width) {
        width: 54px;
        height: 54px;
        left: -5px;
        top: -16px;
      }

      @media (min-width: $tablet-width) {
        left: -2px;
        top: -17px;
      }
    }
  }

  .form__label-name {
    @include textbold(17px, 18px);
    color: $color-black;

    @media (min-width: $tablet-width) {
      @include textbold(19px, 18px);
      margin-right: 30px;
      margin-top: 0;
      align-self: center;
      // margin-left: -8px;
    }
  }

  .form__block-name {
    margin-bottom: 23px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;
      margin-bottom: 20px;
      // align-items: baseline;
    }
  }

  .form__input-name {
    @include textnormal(17px, 18px);
    width: 100%;
    color: $color-grey;
    border: none;
    border-bottom: 1px solid $color-black;
    padding-bottom: 20px;
    padding-top: 10px;
    // margin-bottom: 24px;

    @media (min-width: $tablet-width) {
      @include textnormal(19px, 18px);
      padding-bottom: 14px;
      padding-top: 15px;
      padding-left: 10px;
      background: inherit;
      border-width: 2px;
    }

    // &:last-child {
    //   margin-bottom: 5px;
    // }
  }

  .form__input-phone,
  .form__input-email {
    @include textnormal(17px, 18px);
    width: 100%;
    color: $color-grey;
    border: none;
    border-bottom: 1px solid $color-black;
    padding-bottom: 17px;
    padding-top: 10px;
    background: inherit;

    @media (min-width: $tablet-width) {
      border-width: 2px;
    }
  }

  // .form__block-phone {
  //
  // }

  .form__input-phone {
    margin-bottom: 55px;

    @media (min-width: $tablet-width) {
      margin-left: 135px;
      padding-bottom: 16px;
      padding-top: 15px;
      padding-left: 20px;
      margin-bottom: 31px;
      background: inherit;
    }

    @media (min-width: $desktop-width) {
      margin-left: 82px;
      padding-top: 14px;
      padding-bottom: 18px;
      margin-bottom: 34px;
    }
  }

  .form__input-email {
    margin-bottom: 5px;

    @media (min-width: $tablet-width) {
      margin-left: 105px;
      padding-left: 20px;
      padding-bottom: 15px;
      background: inherit;
    }

    @media (min-width: $desktop-width) {
      margin-left: 42px;
      padding-top: 6px;
    }
  }

  .form__textarea {
    @include textnormal(17px, 18px);
    width: 100%;
    padding-top: 16px;
    padding-left: 14px;
    padding-bottom: 15px;
    margin-top: -8px;

    @media (min-width: $tablet-width) {
      @include textnormal(19px, 20px);
      margin-left: 128px;
      padding-bottom: 5px;
      padding-top: 11px;
      background: inherit;
      margin-top: -16px;
      border-width: 2px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 75px;
    }
  }

  .form__footer {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0 30px;
    margin-top: -17px;
    margin-bottom: 52px;

    @media (min-width: $tablet-width) {
      padding: 0 50px;
      flex-direction: row-reverse;
      justify-content: space-between;
      // margin-top: 13px;
      align-items: baseline;
      margin-bottom: 34px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 175px;
      margin-right: 175px;
    }
  }

  .form__annotation {
    @include textnormal(14px, 16px);
    margin-top: 0;
    margin-bottom: 28px;

    @media (min-width: $tablet-width) {
      @include textnormal(17px, 30px);
    }
  }

  .form__button {
    background: inherit;

    @media (min-width: $tablet-width) {
      width: 227px;
    }
  }
}
