.goods {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  // padding: 30px 30px;
  padding-top: 30px;
  padding-bottom: 37px;
  border-bottom: 7px solid #f1f1f1;
  border-image: url("../img/bg-zigzag-line.svg") 30 round;
  // border-bottom: 2px;

  @media (min-width: $tablet-width) {
    // padding: 0 50px;
    border-width: 17px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 100%;
    padding-top: 138px;
    padding-bottom: 18px;
    // margin: 0 auto;
  }

  .goods__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 30px;

    @media (min-width: $tablet-width) {
      // padding: 0 50px;
      padding-left: 50px;
      padding-right: 50px;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row-reverse;
      justify-content: flex-end;
      width: 1050px;
      // max-width: 1050px;
      padding: 0;
      // margin: 0 auto;
    }
  }

  .goods__title {
    @include textbold(25px, 30px);
    margin-bottom: 5px;
    margin-top: 0;
    color: $color-black;

    @media (min-width: $tablet-width) {
      @include textbold(43px, 50px);
    }

    @media (min-width: $desktop-width) {
      @include textbold(53px, 57px);
      margin-left: 29px;
      margin-top: -3px;
    }
  }

  .goods__category {
    @include textbold(17px, 20px);
    color: $color-aqua;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      margin-left: auto;
      padding-right: 11px;
      align-self: baseline;
      width: 86px;
      text-align: center;
      margin-right: 15px;

      @include textbold(17px, 17px);
      margin-top: 12px;

      @media (min-width: $desktop-width) {
        margin-left: 45px;
      }
    }
  }

  .goods__description {
    @include textnormal(15px, 24px);
    color: $color-grey;
    margin-top: 20px;
    margin-bottom: 16px;

    @media (min-width: $tablet-width) {
      width: 44%;
      margin-top: 43px;
      margin-bottom: 32px;

      @include textnormal(17px, 30px);
    }

    @media (min-width: $desktop-width) {
      width: 292px;
      margin-bottom: 44px;
    }
  }

  .goods__character {
    display: flex;

    @media (min-width: $tablet-width) {
      width: 44%;
    }

    @media (min-width: $desktop-width) {
      width: 292px;
    }
  }

  .goods__price {
    @include textbold(17px, 24px);
    text-align: center;
    color: $color-grey;
    margin-top: 25px;
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      width: 40%;
      display: block;
      text-align: center;
      margin-left: 10px;
      margin-top: 30px;

      @include textbold(20px, 24px);

      @media (min-width: $desktop-width) {
        margin-left: 0;
        margin-top: 83px;
        width: 292px;
      }
    }
  }

  .goods__button {
    @media (min-width: $tablet-width) {

      margin-top: 10px;
      padding: 11px;
      width: 291px;
    }

    @media (min-width: $desktop-width) {
      width: 292px;
    }
  }

  .goods__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;

    @media (min-width: $tablet-width) {
      max-height: 600px;
      align-items: baseline;
      justify-content: space-between;
    }

    @media (min-width: $desktop-width) {
      padding-left: 176px;
    }
  }

  .goods__image {
    align-self: center;
    width: 260px;
    height: 315px;

    @media (min-width: $tablet-width) {
      order: 1;
      margin-left: auto;
      width: 333px;
      height: 404px;
      margin-top: 25px;
    }

    @media (min-width: $desktop-width) {
      width: 525px;
      height: 636px;
      margin-top: -58px;
      z-index: -1;
    }
  }
}
