.page-list {
  // position: absolute;
  top: 0;
  display: none;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;


  // margin-top: -75px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin-top: 7px;
    // padding: 0 50px;
    min-width: 668px;
  }

  @media (min-width: $desktop-width) {
    // padding: 0 50px;
  }

  .page-list__delivery {
    margin-left: auto;
    padding-top: 10px;


    @include textnormal(15px, 24px);
    color: $color-grey;
  }

  .page-list__link {
    margin-right: 21px;
    padding: 15px 15px 15px 0;

    @include textbold(15px, 14px);
    text-decoration: none;
    color: $color-grey;

    @media (min-width: $desktop-width) {
      margin-right: 45px;
    }

    &:nth-child(3),
    &:nth-child(4) {
      @media (min-width: $tablet-width) {
        display: none;
      }

      @media (min-width: $desktop-width) {
        display: block;
      }
    }

    &:nth-child(1),
    &:nth-child(2) {
      @media (min-width: $desktop-width) {
        display: none;
      }
    }
  }
}
