.reviews {
  width: 100%;
  border-bottom: 7px solid #f1f1f1;
  border-image: url("../img/bg-zigzag-line.svg") 30 round;
  // padding: 35px 0;

  @media (min-width: $tablet-width) {
    // background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    border-width: 17px;
    // background-size: auto;
    padding-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 7px;
    // padding-top: 77px;
    // padding-bottom: 138px;
    // background-size: contain;
  }

  .reviews__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    padding-bottom: 43px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      padding: 0 50px;
      padding-top: 77px;
      padding-bottom: 13px;
      flex-wrap: wrap;
      background-image: url("../img/review@1x.jpg");
      background-repeat: no-repeat;
    }

    @media (min-width: $desktop-width) {
      // padding-left: 176px;
      padding: 0;
      padding-left: 174px;
      padding-top: 77px;
      padding-bottom: 126px;
      width: 1050px;
    }
  }

  .reviews__item {
    margin: 0;
    margin-bottom: 29px;
  }

  .reviews__text {
    @include textnormal(15px, 30px);
    color: $color-grey;
    margin-top: 22px;
    margin-bottom: 24px;

    @media (min-width: $tablet-width) {
      @include textnormal(17px, 30px);
      margin-top: 44px;
      margin-bottom: 55px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 106px;
      margin-bottom: 36px;
    }
  }

  .reviews__author-name {
    @include textbold(16px, 30px);
    font-style: normal;
    display: block;
    letter-spacing: 0.05em;

    @media (min-width: $tablet-width) {
      letter-spacing: 0.08em;
    }
  }

  .reviews__author-adres {
    @include textnormal(17px, 30px);
    color: $color-grey;
  }

  .reviews__toggle {
    display: flex;
    flex-direction: row;
    margin-bottom: 37px;

    @media (min-width: $tablet-width) {
      width: 175px;
      margin-top: -84px;
      margin-left: auto;
    }
  }

  .reviews__title {
    @media (min-width: $tablet-width) {
      order: -1;
    }
  }

  .reviews__button {
    @media (min-width: $tablet-width) {
      order: -1;
      margin-left: auto;
      width: 175px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 9px;
    }
  }
}
