.site-list {
  display: none;
  flex-direction: column;
  background-color: $color-white;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  &--show {
    display: flex;
  }

  &--no-js {
    display: flex;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    // justify-content: space-between;
  }

  .site-list__item {
    border-bottom: 1px solid $color-dark-grey;

    &--logo {
      display: none;

      @media (min-width: $desktop-width) {
        order: 1;
      }
    }

    @media (min-width: $tablet-width) {
      padding: 0;
      align-self: stretch;
      border: none;

      &--cart {
        @media (min-width: $desktop-width) {
          order: 3;
          margin-left: auto;
        }
      }

      &--search {
        margin-left: auto;
        border-left: 1px solid $color-dark-grey;
        border-right: 1px solid $color-dark-grey;

        @media (min-width: $desktop-width) {
          order: 2;
        }
      }

      &--logo {
        display: flex;
        margin-right: auto;
      }

      @media (min-width: $desktop-width) {
        &--logo {
          // margin-right: 0;
          margin-left: 40px;
          margin-right: 98px;
        }

        &--search {
          margin-left: 0;
        }
      }
    }

    &:first-child {
      border-top: 1px solid $color-dark-grey;

      @media (min-width: $tablet-width) {
        border: none;
      }
    }


    &:nth-child(2),
    &:nth-child(3) {
      @media (min-width: $tablet-width) {
        display: none;
      }

      @media (min-width: $desktop-width) {
        display: block;
      }
    }

    &:nth-child(2) {
      border-top: 1px solid $color-dark-grey;

      @media (min-width: $desktop-width) {
        border-top: none;
        border-right: 1px solid $color-dark-grey;
      }
    }
  }

  .site-list__link {
    text-decoration: none;
    font-family: $opensansbold;
    color: $color-black;
    font-size: 17px;
    line-height: 24px;
    padding: 28px 0;
    padding-left: 70px;
    display: block;

    &--search {
      background-image: url("../img/icon-search.svg");
      background-repeat: no-repeat;
      background-position: 30px 32px;

      @media (min-width: $tablet-width) {
        font-size: 0;
        width: 81px;
        display: flex;
        background-image: url("../img/icon-search.svg");
        background-repeat: no-repeat;
        background-position: 34px 36px;
      }
    }

    &--cart {
      background-image: url("../img/icon-cart.svg");
      background-repeat: no-repeat;
      background-position: 30px 29px;

      @media (min-width: $tablet-width) {
        display: flex;
        margin-left: auto;
        padding-left: 84px;
        padding-right: 0;
        padding-top: 31px;
        background-image: url("../img/icon-cart.svg");
        background-repeat: no-repeat;
        background-position: 33px 35px;
      }
    }

    @media (min-width: $tablet-width) {
      display: inline-flex;
    }

    @media (min-width: $desktop-width) {
      // padding-left: 0;

      &--catalog {
        padding-left: 0;
        padding-right: 35px;
      }

      &--order {
        padding-left: 34px;
        padding-right: 36px;
      }
    }

    // &--search {
    //   @media (min-width: $tablet-width) {
    //     font-size: 0;
    //     width: 81px;
    //     display: flex;
    //     background-image: url("../img/icon-search.svg");
    //     background-repeat: no-repeat;
    //     background-position: 34px 36px;
    //   }
    // }
    //
    // &--cart {
    //   @media (min-width: $tablet-width) {
    //     display: flex;
    //     margin-left: auto;
    //     padding-left: 84px;
    //     padding-right: 0;
    //     padding-top: 31px;
    //     background-image: url("../img/icon-cart.svg");
    //     background-repeat: no-repeat;
    //     background-position: 33px 35px;
    //   }
    // }
  }
}
