.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0 18px 0;
  margin: 0;
  width: 159px;
  list-style: none;
  align-self: center;
  border-bottom: 1px solid $color-dark-grey;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-left: 69px;
  }

  .social__item {
    // margin-right: 10px;
    font-size: 0;
    align-self: center;
  }

  .social__link {
    display: flex;
    width: 30px;
    padding: 20px;

    &--vk {
      background: url("../img/icon-insta.svg") no-repeat center;
    }

    &--fb {
      background: url("../img/icon-fb.svg") no-repeat center;
    }

    &--inst {
      background: url("../img/icon-twitter.svg") no-repeat center;
    }
  }
}
